/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-color: #929c91;
}

main {
    min-height: 50em;
    margin-top: 0;
    margin: 8px auto;
    width: 1035px;
    padding: 2em;
    background-color: #e4d9c9;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.region-flash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72.5%;
}

.right {
    float: right;
}

.byline_class {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    clear: both;
    overflow: auto;
    margin-top: 20em;
}

.my-navbar a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: Black;
}

.my-navbar li {
    display: inline-block;
    padding: 2em;
    text-decoration: none;
    color: Blue;
}

.my-navbar {
    padding: 0.5em;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    border-top: solid;
    border-color: grey;
}

.site-logo {
    display: none;
}

.site-logo-text-icon  {

}

.site-logo-text a {
    font-size: 2em;
    align-items: center;
    text-decoration: none;
    color: Black;
    padding: 0.5em;
    margin-bottom: 5em;
}

h1 {
    text-align: center;
}

.columns {
    padding: 0.5em;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: center;
    border-bottom: solid;
    display: flex;
    align-items: center;
    border-color: grey;
}

.footer-column-1 {
    border-right: solid;
    border-color: grey;
}

.footer-column-3 {
    border-left: solid;
    border-color: grey;
}

.block {
    text-align: center;
    text-decoration: none;
}

.toc {
    text-decoration: none;
    align-items: center;
    float: left;
    padding: 1em;
}

.breadcrumb-list {
    display: none;
}

.toc a {
    text-decoration: none;
    color: Black;
}

.toc li {
    padding: 1em;
    text-decoration: none;
    list-style: none;
}

.next {
    float: right;
}

.previous {
    float: left;
}

.wrap-sidebar {
    height: 100%;
    width: 160px;
    position: absolute;
    top: 25em;
    right: 2em;
    overflow-x: hidden;
    padding-top: 20px;
}
