/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .figure {
        float: none;
    }
    body {
    width: auto;
    float: none;
}

    main {
        width: auto;
        float: none;
    }

    .block {
        width: auto;
    }
    .rm-desktop a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}


@media screen and (max-width: 850px) {
    .my-navbar {
        display: none;
    }

    .columns {
        display: block;
        border-style: none;
    }
    .footer-column-1 {
        border-style: none;
    }
    .footer-column-3 {
        border-style: none;
    }
}

@media screen and (max-width: 400px) {
   .region-sidebar-left, .region-sidebar-right {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    clear: both;
    background-color: #e4d9c9;
  }
}
